@model quiniela.Models.AdminModel
<html lang="en">
<head>
    <title>Admin</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/img/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon" />
</head>
<body>
    <!--content wrapper-->
    <div id="wrapper">
        <section>
            <div class="dynamicContent">
                <!--content-->
                <div class="row">
                    <div class="span9">
                        <h2>Admin</h2><div id="userCount"></div><br />
                        <div id="alertSaved" class="alert alert-success hide">
                            <h4>Saved</h4>
                        </div>
                        <div class="wrap" id="editUsers" style="font-size:x-small;">
                        </div>
                        <div id="alertBox" class="alert alert-success hide">
                            <h4>User deleted</h4>
                        </div>
                        <div id="alertBox" class="alert alert-error hide">
                            <h4 class="alert-heading">Oh snap!</h4>You got an error!
                        </div>
                        <select id="players" style="width:320px;"></select>
                        <select id="states"></select>
                        <button class="btn btn-primary" onclick="updateUser();">Update</button>
                        <button class="btn btn-primary" onclick="deleteUser();">Delete</button>
                    </div>
                    <div class="span3" style="float: right;">
                        <h2>Invite</h2>
                        <div class="wrap">
                            <form id="formInvite">
                                <input type="hidden" name="formType" value="InviteFriends" />
                                <div class="success alert alert-success hide"><span>Invitation has been send!</span></div>
                                <div class="fail alert alert-error hide"><span>Ohh Snap!, Error happen, please try again later</span></div>
                                <fieldset>
                                    <label class="email">
                                        <input type="email" value="E-mail">
                                        <span class="error w1" style="display: none;">@Model.FieldValEmail</span>
                                        <span class="empty w1" style="display: none;">@Model.FieldRequired</span>
                                    </label>
                                    <br class="clear">
                                    <div class="btns">
                                        <a href="#" class="btn more_btn1" data-type="submit">@Model.SendMessage</a>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                        <h2>Invite Lots</h2>
                        <div class="wrap">
                            <form id="formInvites">
                                <input type="hidden" name="formType" value="InviteLotOfFriends" />
                                <div class="success alert alert-success hide"><span>Invitations has been send!</span></div>
                                <div class="fail alert alert-error hide"><span>Ohh Snap!, Error happen, please try again later</span></div>
                                <fieldset>
                                    <label class="message">
                                        <textarea>Message</textarea>
                                        <span class="error" style="display: none;">ohh! Snap type something</span> <span class="empty" style="display: none;">@Model.FieldRequired</span>
                                    </label>
                                    <br class="clear">
                                    <div class="btns">
                                        <a href="#" class="btn more_btn1" data-type="submit">@Model.SendMessage</a>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <script>
        loadParticipantsEdit();
        loadStates();
        jQuery('#formInvite').forms({ ownerEmail: 'laquiniela@vgama.com' });
        jQuery('#formInvites').forms({ ownerEmail: 'laquiniela@vgama.com' });
        $(".alert:not(.alert-block)").hide();
    </script>
</body>
</html>